@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-1-1 margin-bottom">
        <img src="~/images/healthlab.jpg" alt="Microsoft Azure" class="img-responsive" />
    </div>
</div>
